.App {
  font-family: Roboto;
  text-align: center;
  width: max-content;
  margin: auto;
  padding: 5rem;
  /* From https://css.glass */
  background: rgba(34, 34, 59, 0.81);
  border-radius: 16px;
  box-shadow: 0px 0px 27px 7px rgba(34, 34, 59, 0.75);
  -webkit-box-shadow: 0px 0px 27px 7px rgba(34, 34, 59, 0.75);
  -moz-box-shadow: 0px 0px 27px 7px rgba(34, 34, 59, 0.75);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(34, 34, 59, 0.9);
  border-radius: 1rem;
  color: white;
}
.inputBox {
  height: 2rem;
}
.inputBox .MuiInputBase-root {
  color: white;
}
.inputBox .MuiFormLabel-root {
  color: white;
}
.inputBox .MuiOutlinedInput-notchedOutline {
  border-color: white;
}
.searchBox {
  height: 2rem;
}
.appBox {
  margin: auto;
  margin-top: 2rem;
  background: #f2e9e4;
  color: black;
  border-radius: 1rem;
}
.appBoxText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiButton-root {
  height: 3.5rem;
  margin-left: 1rem !important;
}
.appBoxText .MuiTypography-root {
  display: flex;
  justify-content: center;
}
